{%- set currentLanguage %}{{ page.url | getCurrentLanguage }}{% endset -%}
<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/common.css">
    {% block head %}{% endblock %}
    <title>{{ title }} - {{ 'Paths to Wellbeing' | i18n }}</title>
  </head>
  <body>
    <div id="content">
      <header>
        <div id="top">
          <div class="container">
            <h1><a href="/{{ locale + '/' if currentLanguage else '' }}">{{ "Paths to Wellbeing" | i18n }}</a></h1>
            {% if currentLanguage %}
            <div id="lang-switcher">
              {% set alternativeLanguage %}{{ page.url | getAlternativeLanguage }}{% endset %}
              <a href="{{ page.url | getAlternativeLanguageUrl }}" hreflang="{{ alternativeLanguage }}" class="btn">{{ 'Cymraeg' if alternativeLanguage == 'cy' else 'English' }}</a>
            </div>
            {% endif %}
          </div>
        </div>
        <div class="container">
          <img class="logo" src="/static/img/ramblers_cymru_logo.png" alt="Ramblers Cymru Logo" />
          {% if currentLanguage %}
          <nav>
            <ul>
              {% set url %}/{{ locale }}/{% endset %}
              <li><a href="{{ url }}" class="{{ 'active' if url === page.url }}">{{ "Home" | i18n }}</a></li>
              {% set url %}/{{ locale }}/about/{% endset %}
              <li><a href="{{ url }}" class="{{ 'active' if url === page.url }}">{{ "About" | i18n }}</a></li>
              {% set url %}/{{ locale }}/map/{% endset %}
              <li><a href="{{ url }}" class="{{ 'active' if url === page.url }}">{{ "Map" | i18n }}</a></li>
            </ul>
          </nav>
          {% endif %}
        </div>
      </header>
      <main>
        <div class="container">
          {% block content %}
          {{ content | safe }}
          {% endblock %}
        </div>
      </main>
      <footer>
        <div class="container">
            <img class="logo" src="/static/img/ramblers_cymru_logo_dark_bg.png" alt="Ramblers Cymru Logo" />
        </div>
      </footer>
    </div>
  </body>
</html>
