<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/common.css">
    {% block head %}{% endblock %}
    <title>{{ title }} - {{ 'Paths to Wellbeing' | i18n }}</title>
  </head>
  <body>
  {% block content %}
  {{ content | safe }}
  {% endblock %}
  </body>
</html>
