{% extends "base.njk" %}
{% block head %}
<link rel="stylesheet" href="/static/css/map.css" />
<style>
  html, body {
    height: 100%;
  }

  div#content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  main .container {
    height: 100%;
  }

  footer {
    display: none;
  }

  div#map {
    height: 100%;
  }

  /* Allow the map page to use full width */
  .container {
    max-width: 100%;
  }
</style>
{% endblock %}
{% block content %}
<div id="map"></div>
<script type="module">
  import { PathsToWellbeingMap } from '/static/js/map.mjs';

  const map = new PathsToWellbeingMap({
    target: 'map',
    lang: '{{ locale }}',
    // TODO We probably don't need to pass both languages, we could just pass the current language?
    // Use the same format as https://github.com/adamduncan/eleventy-plugin-i18n
    // for translations
    translations: {
      'zoom_in': {
        'en': 'Zoom in',
        'cy': 'Chwyddo i mewn'
      },
      'zoom_out': {
        'en': 'Zoom out',
        'cy': 'Chwyddo allan'
      },
      'paths': {
        'en': 'Paths',
        'cy': 'Llwybrau'
      },
      'areas': {
        'en': 'Areas',
        'cy': 'Arwynebeddau'
      },
      'communities': {
        'en': 'Communities',
        'cy': 'Cymunedau'
      }
    }
  });
</script>
{% endblock %}
