{% extends "base.njk" %}
{% block head %}
<link rel="stylesheet" href="/static/css/map.css" />
<link rel="preload" as="fetch" href="/static/data/route_en.geojson" />
<link rel="preload" as="fetch" href="/static/data/route_cy.geojson" />
<style>
  html, body {
    height: 100%;
  }

  div#content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  main .container {
    height: 100%;
  }

  footer {
    display: none;
  }

  div#map {
    height: 100%;
  }

  /* Allow the map page to use full width */
  .container {
    max-width: 100%;
  }
</style>
{% endblock %}
{% block content %}
<div id="map"></div>
<script type="module">
  import { PathsToWellbeingMap } from '/static/js/map.mjs';

  const map = new PathsToWellbeingMap({
    target: 'map',
    lang: '{{ locale }}',
    staticUrl: '/static/data/',
    translations: {{ translations | dropOtherLocales(locale) | json | safe }}
  });
  // TODO Remove me
  window.map = map;
</script>
{% endblock %}
