@import "../node_modules/ol/ol.css";

.app {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.app .map, .app .panel {
    height: 100%;
    width: 100%;
}

.app .panel {
  flex: 2;
}

.app .map {
  flex: 4;
}

.app .panel .panel-content {
  display: none;
}

.app .panel .panel-content.shown {
  display: block;
}

.app .map .ol-popup ul {
  list-style-type: none;
  padding-left: 0em;
}

.app .map .ol-popup ul li {
  margin-bottom: 0.5em;
}

.app .map .ol-popup ul li.pathDifficulty-EasyAccess {
  border-left: 15px solid rgba(35,200,35,1.0);
  padding-left: 0.5em;
}

.app .map .ol-popup ul li.pathDifficulty-Leisurely {
  border-left: 15px solid rgba(35,35,200,1.0);
  padding-left: 0.5em;
}

.app .map .ol-popup ul li.pathDifficulty-Easy {
  border-left: 15px solid rgba(35,200,200,1.0);
  padding-left: 0.5em;
}

.app .map .ol-popup ul li.pathDifficulty-Moderate {
  border-left: 15px solid rgba(200,200,35,1.0);
  padding-left: 0.5em;
}

.app .map .ol-popup ul li.pathDifficulty-Strenuous {
  border-left: 15px solid rgba(200,35,35,1.0);
  padding-left: 0.5em;
}

.app .map .ol-popup ul li a:after {
  content: ' >';
}

.app .map .ol-popup ul a:link, .app .map .ol-popup ul a:visited {
  text-decoration: none;
}

.app .map .ol-popup ul a:hover, .app .map .ol-popup ul a:active {
  text-decoration: underline;
}

.app .map .ol-popup ul li .distance, .app .map .ol-popup ul li .ascent {
  color: #999;
}