@import "../node_modules/ol/ol.css";

.app {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.app .map, .app .panel {
    height: 100%;
    width: 100%;
}

.app .panel {
  flex: 2;
}

.app .map {
  flex: 4;
}

.app .panel .panel-content {
  display: none;
}

.app .panel .panel-content.shown {
  display: block;
}

.app .map .ol-popup ul {
  list-style-type: none;
  padding-left: 0em;
}

.app .map .ol-popup ul li {
  margin-bottom: 0.5em;
}

.app .map .ol-popup ul li:after {
  content: ' >';
}

.app .map .ol-popup ul a:link, .app .map .ol-popup ul a:visited {
  text-decoration: none;
}

.app .map .ol-popup ul a:hover, .app .map .ol-popup ul a:active {
  text-decoration: underline;
}
